<div class="conatiner">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Add Donor</h3>
      <form (ngSubmit)="addDonor(form)" #form="ngForm" >
        <div class="form-group mb-3">
            <input type="text" placeholder="Name" name="name" ngModel required class="form-control"  />
        </div>
        <div class="form-group mb-3">
            <input type="text" placeholder="Bloode Group"  name="blood_group" ngModel required class="form-control"  />
        </div>
        <div class="form-group mb-3">
            <input type="text" placeholder="MobileNumber" name="mobile_nubmer" ngModel required class="form-control"  />
        </div>
        <div class="form-group mb-3">
            <input type="text" placeholder="Sex" name="sex" ngModel required class="form-control" />
        </div>
        <div class="form-group mb-3">
            <input type="text" placeholder="Age" name="age" ngModel required class="form-control" />
        </div>
        <div class="form-group mb-3">
            <input  type="text" placeholder="City"  name="city" ngModel required class="form-control"/>
        </div>
        <div class="form-group justify-content-center">
            <input type="submit" [disabled]="form.invalid"  class="btnSubmit" value="Add Donor"/>
        </div>
      </form>
    </div>
  </div>
</div>
